<nav class="navbar">
  <div class="navbar-container">
    <div class="logo-container">
      <img src="https://cdn.builder.io/api/v1/image/assets/2a170a5d79174b1ea9e749c9cf2345e1/d9d86240e7a9981abf2dc495b1f8ffa32c7b5420fdccde41f759d6e3ad707170?apiKey=2a170a5d79174b1ea9e749c9cf2345e1&" alt="Company Logo" class="logo-image" />
    </div>
    <div class="nav-links-container">
      <ul class="nav-links">
        <li><a href="#home" class="nav-link">Inicio</a></li>
      </ul>
    </div>
    <div class="auth-buttons">
      <button class="btn btn-outline"> <a routerLink="/acessar-sistemas" class="nav-link">Acessar Sistemas</a></button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="left-section">
    <img src="" alt="System 1" />
    <button class="btn btn-outline">Accessar Sistemas de Arquivo</button>
  </div>
  <div class="vertical-line"></div>
  <div class="right-section">
    <img src="" alt="System 2" />
    <button class="btn btn-outline">Accessar Power BI</button>
  </div>
</div>